.container {
    display: flex;
    flex-direction: column;
    color: darkgray;
}

.container > div:first-child {
    color: black;
    font-weight:900;
    font-size: 20px;
}

.itemSet {
    display: flex;
    font-size: 16px;
    font-weight: 800;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.itemSet > div:first-child {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    width: 10%;
}

.row {
    display: flex;
}

.sequence {
    display: flex;
    align-items: center;
}